In [9]:

import os;
import json;
import builtins
import duckdb
import pandas as pd;
import matplotlib.pyplot as plt
import numpy as np

def get_dataset_from_testcase(run):
    return run[6:-2]

dir = '/home/chesetti/Repos/learned_merge_cleanup/sponge/pgm_sampled_debug'
runs = []
index_stats = []
for test_case in os.listdir(dir):
    if test_case == 'build':
        continue
    for run_name in os.listdir(os.path.join(dir, test_case, 'outputs', 'results', 'run')):
        json_file = builtins.open(os.path.join(dir, test_case, 'outputs', 'results', 'run', run_name))
        run = (json.load(json_file))
        run['dataset'] = get_dataset_from_testcase(test_case)
        runs.append(run)
        runs.append(run)
df = pd.json_normalize(runs)
print(df.columns)

Index(['command', 'dataset', 'result.checksum', 'result.duration_ns',
       'result.duration_sec', 'result.inner_disk_fetch',
       'result.inner_disk_fetch_size', 'result.inner_total_bytes_fetched',
       'result.outer_disk_fetch', 'result.outer_disk_fetch_size',
       'result.outer_total_bytes_fetched', 'spec.algo', 'spec.algo_name',
       'spec.check_checksum', 'spec.common_key', 'spec.index.search',
       'spec.index.type', 'spec.inner_table', 'spec.key_size', 'spec.key_type',
       'spec.load_sstable_in_mem', 'spec.name', 'spec.num_threads',
       'spec.outer_table', 'spec.result_path', 'spec.value_size',
       'spec.write_result_to_disk', 'spec.index.leaf_size_in_pages'],
      dtype='object')

In [11]:
epsilon = {
    "pgm256": 256,
    "pgm1024": 1024,
    "pgm2048": 2048,
    "btree256": 256,
    "btree1024": 1024,
    "btree2048": 2048,
    "sampledpgm256": 256,
    "sampledpgm1024": 1024,
    "sampledpgm2048": 2048,
    "flatpgm256": 256,
    "flatpgm1024": 1024,
    "flatpgm2048": 2048,
    "flatpgm4096": 4096,
    "flatpgm8192": 8192,
    "hashjoin": 0,
    "btree": 0,
    "sj": 0,
    "sj2": 0,
    "standard_merge": 0
};
def get_epsilon(x):
    for key,eps in epsilon.items():
        if key in x:
            return eps
    return eps

def indexType(x):
    if "sampledpgm" in x:
        return "SAMPLED_PGM"
    if "flatpgm" in x:
        return "FLAT_PGM"
    elif "pgm" in x:
        return "PGM"
    elif "btree" in x:
        return "BTREE"
    elif "sj" in x:
        return "SORT_JOIN"
    return "NA"


get_epsilon('samm')
df["threads"] = df["spec.num_threads"]
df["duration_sec"] = df["result.duration_ns"] / (1000000000)
df["ratio"] = df["spec.common_key"]
df["algo"] = df["spec.algo_name"]
df["join_algo"] = df["spec.algo"]
df["inner_bytes_fetched"] = df["result.inner_total_bytes_fetched"]
df["index_type"] = df["spec.algo_name"].map(lambda x: indexType(x))
df['epsilon'] = df['spec.algo_name'].map(lambda x: get_epsilon(x))

print(df['join_algo'].unique())

['inlj']

In [12]:
def plot_for_dataset(dataset, join_algo):
    rows = duckdb.sql(
        " SELECT ratio, index_type, epsilon, MEDIAN(duration_sec) as v FROM df"
        f" WHERE dataset='{dataset}' AND join_algo='{join_algo}'"
        " GROUP BY ratio, join_algo, index_type, epsilon"
        " ORDER BY ratio"
    ).df()
    rows = rows.pivot(index=['ratio', 'epsilon'], values='v', columns=['index_type'])
    return rows

# INLJ (Raw Lookup)

In [13]:
for dataset in ['fb', 'wiki', 'books', 'osm', 'uniform_dense', 'uniform_sparse', 'normal', 'lognormal']:
    display(dataset, plot_for_dataset(dataset, 'inlj'))

'fb'

index_type         BTREE        PGM  SAMPLED_PGM
ratio epsilon
1     2048     51.470067  38.649947    41.850446
10    2048      6.244105   5.268834     5.651329
100   2048      1.037377   1.796899     1.366994
1000  2048      0.440069   0.473694     0.518154

'wiki'

Empty DataFrame
Columns: []
Index: []

'books'

Empty DataFrame
Columns: []
Index: []

'osm'

Empty DataFrame
Columns: []
Index: []

'uniform_dense'

Empty DataFrame
Columns: []
Index: []

'uniform_sparse'

Empty DataFrame
Columns: []
Index: []

'normal'

Empty DataFrame
Columns: []
Index: []

'lognormal'

Empty DataFrame
Columns: []
Index: []

# Learned Sort Join

In [5]:
for dataset in ['fb', 'wiki', 'books', 'osm', 'uniform_dense', 'uniform_sparse', 'normal', 'lognormal']:
    display(dataset, plot_for_dataset(dataset, 'lsj'))

'fb'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      24.993924  31.076291
      2048     28.333396  31.613697
10    256       3.725301   4.459557
      2048      4.197650   4.285085
100   256       0.841785   0.920754
      2048      0.837375   0.883383
1000  256       0.274187   0.290587
      2048      0.411975   0.414342

'wiki'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      11.629625  13.256304
      2048     12.938003  14.460887
10    256       3.032764   3.271661
      2048      3.292362   3.685433
100   256       0.599972   0.630771
      2048      0.603141   0.645177
1000  256       0.204984   0.204099
      2048      0.241807   0.245447

'books'

index_type       FLAT_PGM         PGM
ratio epsilon
1     256       99.205341  122.512445
      2048     112.543957  125.334704
10    256       14.488263   17.235109
      2048      16.153394   17.437503
100   256        3.258028    3.567165
      2048       3.234103    3.906278
1000  256        1.256907    1.012510
      2048       1.612775    1.601232

'osm'

index_type       FLAT_PGM         PGM
ratio epsilon
1     256       98.660615  133.395328
      2048     110.658137  145.165125
10    256       14.374641   18.856849
      2048      16.119812   19.945609
100   256        3.252862    3.751054
      2048       3.143682    3.562569
1000  256        0.982368    1.033353
      2048       1.579121    1.623700

'uniform_dense'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      25.903948  25.944280
      2048     29.114099  29.265424
10    256       4.114500   3.528153
      2048      3.883861   3.892145
100   256       0.797266   0.781785
      2048      0.814045   0.822363
1000  256       0.250597   0.257546
      2048      0.403095   0.387245

'uniform_sparse'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      25.246547  28.984153
      2048     28.491774  29.710565
10    256       3.597230   3.835992
      2048      3.890131   4.136220
100   256       0.821902   0.899803
      2048      0.833240   0.835220
1000  256       0.257811   0.283472
      2048      0.442412   0.434035

'normal'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      24.686158  28.287737
      2048     27.834476  31.221273
10    256       3.396363   4.066837
      2048      3.949190   4.163381
100   256       0.816836   0.853736
      2048      0.814305   0.869927
1000  256       0.270962   0.263467
      2048      0.432573   0.433598

'lognormal'

index_type      FLAT_PGM        PGM
ratio epsilon
1     256      23.965234  29.991976
      2048     26.967841  30.476574
10    256       3.372891   4.041178
      2048      3.643738   4.344789
100   256       0.832283   0.888538
      2048      1.262608   0.866543
1000  256       0.345975   0.291441
      2048      0.416492   0.439766